<!--suppress HtmlFormInputWithoutLabel -->
{% extends "base.j2" %}
{% block main %}
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <form id="settings" action="{{ request.url.path }}" method="post" class="border rounded p-3">
                <h5>Search Settings</h5>

                {% for table, columns in tables.items() %}
                    <div class="form-group mt-3">
                        <h6>{{ table|title }}</h6>
                        <div class="input-group">
                            <span class="input-group-text" style="width: 4.4rem">Sort</span>
                            <select name="sort.{{ table }}" class="form-select">
                                {% for col in columns|map("lower") %}
                                    <option value="{{ col }}" {{ "selected" if settings.sort[table]|lower == col }}>
                                        {% for word in col.replace("_", " ").strip().split(" ") %}
                                            {{ word|title if word|length > 2 else word|upper }}
                                        {% endfor %}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="order.{{ table }}" class="form-select">
                                <option value="asc" {{ "selected" if settings.order[table]|lower == "asc" }}>
                                    Ascending
                                </option>
                                <option value="desc" {{ "selected" if settings.order[table]|lower == "desc" }}>
                                    Descending
                                </option>
                            </select>
                        </div>
                        <div class="input-group mt-1">
                            <span class="input-group-text" style="width: 4.4rem">View</span>
                            <select class="form-select"
                                    name="view.{{ table }}" {{ "disabled" if table|lower in ["journals", "comments"] }}>
                                <option value="grid" {{ "selected" if settings.view[table]|lower == "grid" }}>
                                    Grid
                                </option>
                                <option value="list" {{ "selected" if settings.view[table]|lower == "list" }}>
                                    List
                                </option>
                            </select>
                            <select class="form-select" name="limit.{{ table }}">
                                <option value="12" {{ "selected" if settings.limit[table]|int == 12 }}>
                                    12
                                </option>
                                <option value="24" {{ "selected" if settings.limit[table]|int == 24 }}>
                                    24
                                </option>
                                <option value="48" {{ "selected" if settings.limit[table]|int == 48 }}>
                                    48
                                </option>
                                <option value="96" {{ "selected" if settings.limit[table]|int == 96 }}>
                                    96
                                </option>
                            </select>
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-4 text-center">
                    <button class="btn btn-primary position-relative">
                        <span id="save-button" class="loading-element loaded">Save</span>
                        <span class="loading-onloading opacity-0">Save</span>
                        <span class="loading-spinner position-absolute"
                              style="height: 1.5rem; width: 1.5rem; left: calc(50% - .75rem)"></span>
                    </button>

                    <button class="btn btn-secondary ms-4" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.getElementById("settings").onsubmit = (ev) => {
            ev.stopPropagation()
            ev.preventDefault()

            const saveButton = document.getElementById("save-button")

            saveButton.classList.remove("loaded")
            saveButton.parentElement.disabled = true

            const body = new FormData(ev.target)

            fetch(ev.target.action, {method: ev.target.method, body})
                .then(() => window.location.reload())
                .finally(() => {
                    saveButton.classList.add("loaded")
                    saveButton.parentElement.disabled = false
                })

            return false
        }
    </script>
{% endblock %}