[tool.poetry]
name = "falocalrepo-server"
version = "3.2.3"
description = "Web interface for falocalrepo."
authors = ["Matteo Campinoti <matteo.campinoti94@gmail.com>"]
license = "EUPL-1.2"
readme = "README.md"
homepage = "https://github.com/FurryCoders/falocalrepo-server"
repository = "https://github.com/FurryCoders/falocalrepo-server"
classifiers = [
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: European Union Public Licence 1.2 (EUPL 1.2)",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: End Users/Desktop",
]

[tool.poetry.urls]
"Source" = "https://github.com/FurryCoders/falocalrepo-server"
"Changelog" = "https://github.com/FurryCoders/falocalrepo-server/blob/main/CHANGELOG.md"
"Bug Reports" = "https://github.com/FurryCoders/falocalrepo-server/issues"
"Download" = "https://pypi.org/project/falocalrepo-server/#files"

[tool.poetry.scripts]
falocalrepo-server = "falocalrepo_server.__main__:main"

[tool.poetry.dependencies]
python = "^3.10"
falocalrepo-database = "~5.3.1"
chardet = "^4.0.0"
Pillow = "^9.1.1"
fastapi = "^0.78.0"
uvicorn = "^0.17.6"
Jinja2 = "^3.0.3"
click = "^8.0.12"
click-help-colors = "^0.9.1"
htmlmin = "^0.1.12"
beautifulsoup4 = "^4.10.0"
lxml = "^4.8.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
