[tool.poetry]
name = "falocalrepo-server"
version = "1.10.0"
description = "Web interface for falocalrepo."
authors = ["Matteo Campinoti <matteo.campinoti94@gmail.com>"]
license = "EUPL-1.2"
readme = "README.md"
homepage = "https://gitlab.com/MatteoCampinoti94/falocalrepo-server"
repository = "https://gitlab.com/MatteoCampinoti94/falocalrepo-server"
classifiers = [
    "Programming Language :: Python :: 3.9",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: European Union Public Licence 1.2 (EUPL 1.2)",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: End Users/Desktop",
]

[tool.poetry.scripts]
falocalrepo-server = "falocalrepo_server.__main__:main"

[tool.poetry.dependencies]
python = "^3.9"
falocalrepo-database = "~4.15.0"
flask = "^1.1.2"
Pillow = "^8.1.0"
htmlmin = "^0.1.0"
gevent = "^21.1.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
