<!--suppress HtmlDeprecatedAttribute -->

{% macro UserCard(user, search_id = "") %}
    <div class="border rounded position-relative">
        <a href="/user/{{ user.USERNAME }}{{ "?sid={}".format(search_id|urlencode) if search_id }}"
           class="stretched-link" title="{{ user.USERNAME }}"></a>
        <div class="border-bottom p-1 position-relative d-flex align-items-center justify-content-center"
             style="height: calc(150px + .5rem)">
            <img class="rounded mw-100 loading-element loading-error-hide w-auto fade"
                 src="/user/{{ user.USERNAME }}/thumbnail" alt="" loading="lazy" style="max-height: 150px"
                 onerror="this.classList.add('loading-error')" onload="this.classList.add('loaded')">
            <div class="loading-spinner"></div>
            <div class="loading-onerror rounded bg-body-secondary"
                 style="height: 100px; aspect-ratio: 1 / 1">
            </div>
        </div>
        <div class="p-1 small fw-bold text-center text-truncate">
            {{ user.USERNAME or ("&nbsp"|safe) }}
        </div>
        <div class="border-top bg-link text-center p-1 small position-relative d-flex flex-column row-gap-1">
            {% if not user.ACTIVE %}
                <div class="badge w-100 bg-danger text-truncate">
                    Inactive
                </div>
            {% endif %}
            {% for folder in user.FOLDERS.strip("|").split("||") %}
                <div class="badge w-100 bg-info text-truncate">
                    {{ folder }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro SubmissionCard(submission, search_id = "") %}
    <div class="border rounded position-relative">
        <a href="/submission/{{ submission.ID }}{{ "?sid={}".format(search_id|urlencode) if search_id }}"
           class="stretched-link" title="{{ submission.TITLE }}"></a>
        <div class="border-bottom p-1 position-relative d-flex align-items-center justify-content-center"
             style="height: calc(150px + .5rem)">
            <img class="rounded mw-100 w-auto loading-element loading-error-hide"
                 src="/submission/{{ submission.ID }}/thumbnail/{{ "{:010d}-thumbnail".format(submission.ID) }}" alt=""
                 loading="lazy" style="max-height: 150px"
                 onerror="this.classList.add('loading-error')" onload="this.classList.add('loaded')">
            <div class="loading-spinner"></div>
            <div class="loading-onerror rounded bg-body-secondary"
                 style="height: 100px; aspect-ratio: 1 / 1"></div>
            {% if "||" in submission.FILEEXT %}
                {% set files = submission.FILEEXT.strip("|").split("||") %}
                <div class="badge bg-body text-body border position-absolute"
                     style="top: .125rem; right: .125rem; padding: .175rem .325rem">
                    {{ files|length }}
                </div>
            {% endif %}
        </div>
        <div class="p-1 fw-bold text-center text-truncate text-wrap" style="height: 3.125rem; font-size: 67% !important;">
            {{ submission.TITLE or ("&nbsp"|safe) }}
        </div>
        <div class="border-top bg-link text-center p-1 small position-relative">
            <a href="/user/{{ submission.AUTHOR }}" class="stretched-link" title="{{ submission.AUTHOR }}"></a>
            <div class="badge w-100 bg-primary text-truncate">
                {{ submission.AUTHOR }}
            </div>
            <div class="badge w-100 bg-info text-truncate mt-1">
                {{ submission.DATE[:10] }}
            </div>
        </div>
    </div>
{% endmacro %}