{% macro Pagination(form, results, offset, limit, page, max_results) %}
    {% set total = results.rows|length %}
    {% set is_max = max_results and total > max_results %}
    {% set total = (total - 1) if is_max else total  %}
    <div class="card w-100">
        <div class="card-header bg-body p-1 text-center small">
            Page {{ page }} of {{ (total / limit)|round(0, 'ceil')|int }}
            ({{ total }}{{ "+" if is_max }})
        </div>
        <div class="card-body text-center row p-1" style="height: 2rem">
            <div class="btn-toolbar justify-content-between">
                <button type="submit" class="btn btn-sm btn-primary py-0 mx-1" form="{{ form }}" name="page"
                        value="1" {{ 'disabled' if page == 1 }}
                        style="width: calc(25% - .5rem)">
                    &laquo;&laquo;
                </button>
                <button type="submit" class="btn btn-sm btn-primary py-0 mx-1" form="{{ form }}" name="page"
                        value="{{ page - 1 }}" {{ 'disabled' if page == 1 }}
                        style="width: calc(25% - .5rem)">
                    &laquo;
                </button>
                <button type="submit" class="btn btn-sm btn-primary py-0 mx-1" form="{{ form }}" name="page"
                        value="{{ page + 1 }}" {{ 'disabled' if offset + limit >= total }}
                        style="width: calc(25% - .5rem)">
                    &raquo;
                </button>
                <button type="submit" class="btn btn-sm btn-primary py-0 mx-1" form="{{ form }}" name="page"
                        value="{{ (total / limit)|round(0, 'ceil')|int }}" {{ 'disabled' if offset + limit >= total }}
                        style="width: calc(25% - .5rem)">
                    &raquo;&raquo;
                </button>
            </div>
        </div>
    </div>
{% endmacro %}