{% from "components/navbar.j2" import Navbar with context %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} FALocalRepo</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="theme-color" content="#FAAF3A">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/touch-icon.png">
    <link rel="stylesheet" href="/static/styles/style.css?v={{ version }}">
    <script>
        const onResize = []

        const updateColorScheme = (darkMode) => {
            document.body.dataset.bsTheme = darkMode ? "dark" : "light"
            document.head.querySelector('meta[name="theme-color"]').content = "#" + getComputedStyle(document.body)
                .backgroundColor
                .match(/rgb\((\d+), *(\d+), *(\d+)\)/i)
                .slice(1)
                .map(n => Number(n).toString(16))
                .join("")
            window.sessionStorage.setItem("darkMode", String(!!darkMode))
        }

        if (window.matchMedia("(pointer: coarse)").matches) document.ondblclick = e => e.preventDefault()

        window.onresize = (ev) => onResize.forEach(c => c(ev))
    </script>
    {% block head %}{% endblock %}
</head>
<body>
<script>
    if (window.sessionStorage.getItem("darkMode")) updateColorScheme(window.sessionStorage.getItem("darkMode") === "true")
    else updateColorScheme(window.matchMedia("(prefers-color-scheme: dark)").matches)
    window.matchMedia("(prefers-color-scheme: dark)").onchange = ({matches}) => updateColorScheme(matches)
</script>
{{ Navbar() }}

<main class="container mt-3 mb-4">{% block main %}{% endblock %}</main>

{% block script %}{% endblock %}
</body>
</html>