<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} · {{ app }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="mt-3 mt-lg-4 mb-4">
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="card {{ "border-0" if not message and not buttons }}">
                <h6 class="card-header bg-danger {{ "rounded border-0" if not message and not buttons }}">
                    Error {{ code }}
                </h6>
                {% if message %}
                    <div class="card-body {{ "border-bottom" if buttons }}">
                        <div class="card-text">
                            {% autoescape false %}{{ message }}{% endautoescape %}
                        </div>
                    </div>
                {% endif %}
                {% if buttons %}
                    <div class="card-footer border-top-0 text-center">
                        {% for button in buttons %}
                            <div class="card-text">
                                <a href="{{ button[1] }}" class="btn btn-sm btn-primary">{{ button[0] }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
