<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
</head>
<body>
<br><br><br>
<div style="text-align: center">
    <p>Error {{ code }}</p>
    <p>
        {% autoescape false %}
        {{ message }}
        {% endautoescape %}
    </p>
</div>
</body>
</html>
