<!--suppress HtmlUnknownTarget -->
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta name="theme-color">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" href="/touch-icon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
<link rel="stylesheet" href="/static/styles/style.css?v={{ version }}">
<!-- Disable double click behaviour on touchscreen devices -->
<script>
    if (window.matchMedia("(pointer: coarse)").matches) document.ondblclick = e => e.preventDefault()
</script>