<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>{{ app }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="mt-3 mt-lg-4 mb-4">
<div class="container">
    <div class="row">
        <div class="col-12 text-center align-middle h-100">
            <img src="/static/logo.png" alt="Stylized animal paw with an orange stylized server" class="img-fluid"
                 style="max-width: 250px">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-1">
                        <h6 class="col-5 card-title">Users</h6>
                        <div class="col-7 card-text">
                            <a class="btn btn-xs btn-primary w-100 overflow-hidden text-decoration-none"
                               href='/search/users/'>
                                {{ users_total }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 card-title">Submissions</h6>
                        <div class="col-7 card-text">
                            <a class="btn btn-xs btn-primary w-100 overflow-hidden text-decoration-none"
                               href='/search/submissions/'>
                                {{ submissions_total }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 card-title">Journals</h6>
                        <div class="col-7 card-text">
                            <a class="btn btn-xs btn-primary w-100 overflow-hidden text-decoration-none"
                               href='/search/journals/'>
                                {{ journals_total }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 card-title">Version</h6>
                        <div class="col-7 card-text">
                            <span class="badge bg-info w-100 overflow-hidden">
                                {{ version_db }}
                            </span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 card-title">Last Update</h6>
                        <div class="col-7 card-text">
                            <span class="badge bg-info w-100 overflow-hidden">
                                {{ m_time.strftime("%Y-%m-%d %H:%M") }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    Version {{ version }} · <a href="https://github.com/FurryCoders/falocalrepo-server/">falocalrepo-server@GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
