<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/style.css">
    <style>
        #logo {
            width: 100%;
            text-align: center;
        }

        #logo img {
            width: 90%;
            max-width: 250px;
            max-height: 90vh;
        }

        #database_info {
            width: 100%;
            top: 20px;
            margin: auto;
            text-align: center
        }

        #database_info table {
            margin: auto;
        }

        #database_info table td {
            padding: 5px;
        }
    </style>
</head>
<body>
<h2 style="text-align: center;">{{ title }}</h2>
<div id="logo">
    <img src="/static/logo.png" alt="Stylized animal paw with an orange stylized server">
    <br>
    Version {{ version }} · <a href="https://pypi.org/project/falocalrepo-server/">falocalrepo-server@PyPi</a>
</div>
<div id="database_info">
    <h3>Database Information</h3>
    <table class="border">
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link nocolor" href='/search/submissions/'>Submissions</a></td>
            <td class="border"><a class="cell-link nocolor" href='/search/submissions/'>{{ submissions_total }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link nocolor" href='/search/journals/'>Journals</a></td>
            <td class="border"><a class="cell-link nocolor" href='/search/journals/'>{{ journals_total }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link nocolor" href='/search/users/'>Users</a></td>
            <td class="border"><a class="cell-link nocolor" href='/search/users/'>{{ users_total }}</a></td>
        </tr>
        <tr>
            <td class="border">Version</td>
            <td class="border">{{ version_db }}</td>
        </tr>
    </table>
</div>
</body>
</html>
