<!--suppress CheckImageSize -->
<nav class="navbar navbar-expand bg-body border-bottom p-0">
    <div class="container">
        <a href="/" class="navbar-brand"><img alt="" src="/static/touch-icon.png" height="40"/></a>
        <div class="navbar-nav me-auto">
            <a class="nav-link text-body btn btn-outline-secondary border-0 py-1 px-1 mx-1" href="/search/submissions/">Submissions</a>
            <a class="nav-link text-body btn btn-outline-secondary border-0 py-1 px-1 mx-1" href="/search/users/">Users</a>
            <a class="nav-link text-body btn btn-outline-secondary border-0 py-1 px-1 mx-1" href="/search/journals/">Journals</a>
        </div>
    </div>
</nav>
