<!DOCTYPE html>
<!--suppress HtmlDeprecatedAttribute, HtmlUnknownTarget, CssUnusedSymbol -->
<html lang="en">
<head>
    <title>{{ title }} · {{ app }}</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="mt-4 mb-4">

<div class="container">
    <div class="row align-middle">
        {% set file %}
        {% if submission["FILESAVED"] < 2 %}
        <div class="mt-1 mb-2 mt-lg-5 pt-lg-5 text-center">
            <span class="badge bg-danger">Submission has no file</span>
        </div>
        {% elif submission["TYPE"].lower() == "image" %}
        <div class="text-center">
            <div class="error-file mt-1 mb-2 mt-lg-5 pt-lg-5" hidden>
                <span class="badge bg-danger">Image not found</span>
            </div>
            <a href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}">
                <img class="img-fluid mx-auto fit-height"
                     src="/submission/{{ submission["ID"] }}/file/{{ filename_id }}" alt=""
                     onload="this.hidden = false"
                     onerror="this.parentNode.parentNode.querySelector('.error-file').hidden = false" hidden>
            </a>
        </div>
        {% elif submission["TYPE"].lower() == "music" %}
        <div class="text-center mb-1 mt-lg-5 pt-lg-5">
            <div class="col-12">
                <span class="mt-2 badge bg-danger" hidden>Thumbnail not found</span>
                <img class="rounded mt-2" src="/submission/{{ submission["ID"] }}/thumbnail" alt=""
                     onload="this.hidden = false"
                     onerror="this.previousElementSibling.querySelector('.error-thumbnail').hidden = false" hidden>
            </div>
            <span class="mt-2 badge bg-danger" hidden>File not found</span>
            <audio class="mt-2" src="/submission/{{ submission["ID"] }}/file/{{ filename_id }}"
                   onerror="this.hidden = true; this.previousElementSibling.querySelector('.error-file').hidden = false"
                   style=""
                   controls>
            </audio>
        </div>
        {% elif file_text is not none %}
        <div class="border-lg rounded p-2 text-start font-monospace small overflow-scroll text-wrap fit-height">
            {% autoescape false %}{{ file_text.strip() }}{% endautoescape %}
        </div>
        {% else %}
        <div class="text-center mb-2 mt-lg-5 pt-lg-5">
            <div class="col-12">
                <span class="mt-2 badge bg-danger" hidden>Thumbnail not found</span>
                <img class="rounded mt-2" src="/submission/{{ submission["ID"] }}/thumbnail" alt=""
                     onload="this.hidden = false"
                     onerror="this.previousElementSibling.hidden = false" hidden>
            </div>
            <a class="mt-2 btn btn-sm btn-primary" href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}">
                {{ filename|title }}
            </a>
        </div>
        {% endif %}
        {% endset %}

        <div class="d-none d-lg-block col-8">{{ file }}</div>

        <div class="col-12 col-lg-4 mx-auto">
            <div class="card h-100">
                <h2 class="card-header">{{ submission["TITLE"] }}</h2>
                <div class="card-header text-center d-lg-none p-0">
                    {{ file }}
                </div>
                <div class="card-header text-center d-lg-none">
                    <div class="btn-group col-12 col-md-8" role="group">
                        <a class="btn btn-sm btn-primary {{ "disabled" if not next }}" href="/submission/{{ next }}">
                            Next
                        </a>
                        <span class="btn-separator"></span>
                        <a class="btn btn-sm btn-primary" href="/gallery/{{ submission["AUTHOR"] }}">Gallery</a>
                        <span class="btn-separator"></span>
                        <a class="btn btn-sm btn-primary" href="/submissions/{{ submission["AUTHOR"] }}">All</a>
                        <span class="btn-separator"></span>
                        <a class="btn btn-sm btn-primary" href="/scraps/{{ submission["AUTHOR"] }}">Scraps</a>
                        <span class="btn-separator"></span>
                        <a class="btn btn-sm btn-primary {{ "disabled" if not prev }}" href="/submission/{{ prev }}">
                            Prev
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h6 class="col-4 card-title">Author</h6>
                        <div class="col-8 card-text">
                            <a class="col-8 card-text btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/user/{{ submission["AUTHOR"] }}">{{ submission["AUTHOR"] }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Date</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge text-truncate text-decoration-none w-100"
                               href="/search/submissions/?query=%40date%20{{ submission["DATE"].strftime("%Y-%m-%d") }}">
                                {{ submission["DATE"].strftime("%Y-%m-%d %H:%M") }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Folder</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/{{ submission["FOLDER"] }}/{{ submission["AUTHOR"] }}">
                                {{ submission["FOLDER"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Type</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/search/submissions/?query=%40type%20%22{{ submission["TYPE"] }}%22">
                                {{ submission["TYPE"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Category</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/search/submissions/?query=%40category%20%22{{ submission["CATEGORY"] }}%22">
                                {{ submission["CATEGORY"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Species</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/search/submissions/?query=%40species%20%22{{ submission["SPECIES"] }}%22">
                                {{ submission["SPECIES"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Gender</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/search/submissions/?query=%40gender%20%22{{ submission["GENDER"] }}%22">
                                {{ submission["GENDER"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Rating</h6>
                        <div class="col-8 card-text">
                            <a class="btn-sm btn-primary badge w-100 text-truncate text-decoration-none"
                               href="/search/submissions/?query=%40rating%20%22{{ submission["RATING"] }}%22">
                                {{ submission["RATING"]|title }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Tags</h6>
                        <div class="col-8 card-text">
                            {% for tag in submission["TAGS"] %}
                                <a class="btn-sm btn-primary badge text-truncate text-decoration-none"
                                   href='/search/submissions/?query=%40tags%20%22%7C{{ tag }}%7C%22'>{{ tag }}</a>
                            {% endfor %}
                            {% if not submission["TAGS"] %}
                                <span class="badge bg-danger w-100 text-truncate">No tags</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Favorites</h6>
                        <div class="col-8 card-text">
                            {% for user in submission["FAVORITE"] %}
                                <a class="btn-sm btn-primary badge text-truncate text-decoration-none"
                                   href="/user/{{ user }}">{{ user }}</a>
                            {% endfor %}
                            {% if not submission["FAVORITE"] %}
                                <span class="badge bg-danger w-100 text-truncate">No favorites</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-4 card-title">Mentions</h6>
                        <div class="col-8 card-text">
                            {% for user in submission["MENTIONS"] %}
                                <a class="btn-sm btn-primary badge text-truncate text-decoration-none"
                                   href="/user/{{ user }}">{{ user }}</a>
                            {% endfor %}
                            {% if not submission["MENTIONS"] %}
                                <span class="badge bg-danger w-100 text-truncate">No mentions</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="row text-center">
                        <div class="btn-group col-8 col-md-6 col-lg-8 ms-auto" role="group">
                            <a class="btn btn-sm btn-secondary disabled">Download</a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary {{ "disabled" if submission["FILESAVED"] < 2 }}"
                               href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}" download>
                                File
                            </a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary"
                               href="/submission/{{ submission["ID"] }}/zip/submission-{{ "{0:010}".format(submission["ID"]) }}.zip">
                                ZIP
                            </a>
                        </div>
                        <div class="btn-group col-4 col-md-2 col-lg-4 me-auto">
                            <a class="btn btn-sm btn-primary"
                               href="https://www.furaffinity.net/view/{{ submission["ID"] }}">
                                FA
                            </a>
                        </div>
                        <div class="btn-group col-12 mt-1 d-none d-lg-flex" role="group">
                            <a class="btn btn-sm btn-primary {{ "disabled" if not next }}"
                               href="/submission/{{ next }}">
                                Next
                            </a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary" href="/gallery/{{ submission["AUTHOR"] }}">Gallery</a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary" href="/submissions/{{ submission["AUTHOR"] }}">All</a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary" href="/scraps/{{ submission["AUTHOR"] }}">Scraps</a>
                            <span class="btn-separator"></span>
                            <a class="btn btn-sm btn-primary {{ "disabled" if not prev }}"
                               href="/submission/{{ prev }}">
                                Prev
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body col-12 col-lg-9 mx-auto">
                    <div class="card-text text-wrap overflow-hidden">
                        {% autoescape false %}{{ submission["DESCRIPTION"] }}{% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
