<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <style>
        #user_metadata {
            text-align: center;
        }

        #user_metadata table {
            max-width: 90%;
            top: 20px;
            margin: auto;
        }

        #user_metadata table td {
            padding: 2px;
            width: fit-content;
            min-width: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
<h2 style="text-align: center">{{ user }}</h2>
<div id="user_metadata">
    <table class="border">
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/submissions/{{ user }}">Submissions</a></td>
            <td class="border"><a class="cell-link"
                                  href="/submissions/{{ user }}">{{ gallery_length + scraps_length }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/gallery/{{ user }}">Gallery</a></td>
            <td class="border"><a class="cell-link" href="/gallery/{{ user }}">{{ gallery_length }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/scraps/{{ user }}">Scraps</a></td>
            <td class="border"><a class="cell-link" href="/scraps/{{ user }}">{{ scraps_length }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/favorites/{{ user }}">Favorites</a></td>
            <td class="border"><a class="cell-link" href="/favorites/{{ user }}">{{ favorites_length }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/mentions/{{ user }}">Mentions</a></td>
            <td class="border"><a class="cell-link" href="/mentions/{{ user }}">{{ mentions_length }}</a></td>
        </tr>
        <tr class="clickable hover_highlight">
            <td class="border"><a class="cell-link" href="/journals/{{ user }}">Journals</a></td>
            <td class="border"><a class="cell-link" href="/journals/{{ user }}">{{ journals_length }}</a></td>
        </tr>
        <tr class="">
            <td class="border">Folders</td>
            <td class="border">{{ " ".join(folders) }}</td>
        </tr>
    </table>
    <br>
    <form action="https://www.furaffinity.net/user/{{ user }}">
        <button type="submit">Open on Fur Affinity</button>
    </form>
</div>
</body>
</html>