<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, CssUnusedSymbol -->
<html lang="en">
<head>
    <title>{{ title }} · {{ app }}</title>
    {% include "head.html" %}
    <style>
        #profile[data-bbcode=true] #profile_html {
            display: none;
        }

        #profile[data-bbcode=false] #profile_bbcode {
            display: none;
        }

        #profile[data-bbcode=true] #bbcode_button {
            background: var(--bs-info) !important;
            color: var(--bs-btn-active-color) !important;
        }

        @media (max-width: 992px) {
            .fit-height {
                max-height: none;
            }
        }
    </style>
</head>
<body class="mb-4">

{% include "navbar.html" %}

<div class="container mt-3 mt-lg-4">
    <div class="row align-middle">
        {% if userpage != "" %}
        <div class="col-12 col-lg-8 mt-3 mt-lg-0 order-last order-lg-first">
            <div class="border rounded p-2 overflow-scroll text-wrap fit-height h-100" id="profile" data-bbcode="false">
                {% if userpage_bbcode != None %}
                <div class="w-100 text-end mb-2">
                    <button class="btn btn-sm btn-outline-info text-secondary border" id="bbcode_button"
                            onclick="const d = document.getElementById('profile'); d.dataset.bbcode = d.dataset.bbcode === 'true' ? 'false' : 'true'">
                        [BBCode]
                    </button>
                </div>
                <span id="profile_bbcode">
                    {% autoescape false %}{{ userpage_bbcode.replace("\n", "<br>") }}{% endautoescape %}
                </span>
                {% endif %}
                <span id="profile_html">
                    {% autoescape false %}{{ userpage }}{% endautoescape %}
                </span>
            </div>
        </div>
        {% endif %}

        <div class="col-12 col-lg-4 mx-auto">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center" style="height: 4.5rem">
                    <img class="iconusername me-1" src="{{ icon }}" alt="{{ user }}"
                         style="height: 3.5rem !important"
                         onload="this.hidden = false" hidden>
                    <span class="h2">
                        {{ user }}
                    </span>
                    {% if not in_database %}
                        <span class="badge bg-danger float-end mt-2 ms-1">Not in database</span>
                    {% elif not active %}
                        <span class="badge bg-danger float-end mt-2 ms-1">Inactive</span>
                    {% endif %}
                </div>

                <div class="card-body">
                    <div class="row">
                        <h6 class="col-5 col-xxl-4 card-title">Submissions</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/submissions/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ gallery_length + scraps_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Gallery</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/gallery/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ gallery_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Scraps</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/scraps/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ scraps_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Favorites</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/favorites/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ favorites_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Mentions</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/mentions/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ mentions_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Journals</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            <a href="/journals/{{ user }}"
                               class="btn btn-xs btn-primary w-100 text-truncate">
                                {{ journals_length }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <h6 class="col-5 col-xxl-4 card-title">Folders</h6>
                        <div class="col-7 col-xxl-8 card-text">
                            {% for folder in folders|sort %}
                                <span class="badge bg-info mw-100 text-truncate" title="{{ folder }}">
                                    {{ folder }}
                                </span>
                            {% endfor %}
                            {% if not folders %}
                                <span class="badge bg-danger w-100 text-truncate">No folders</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <div class="row text-center">
                        <div class="btn-group btn-separator col-8 col-sm-4 col-lg-8 ms-auto" role="group">
                            <a class="btn btn-sm btn-primary {{ "disabled" if not next }}" href="/user/{{ next }}">
                                Next
                            </a>
                            <a class="btn btn-sm btn-primary {{ "disabled" if not prev }}" href="/user/{{ prev }}">
                                Prev
                            </a>
                        </div>
                        <div class="btn-group col-4 col-sm-2 col-lg-4 me-auto">
                            <a class="btn btn-sm btn-primary" href="https://www.furaffinity.net/user/{{ user }}">
                                FA
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>