@import "bootstrap.min.css";
@import "bbcode.css";
@import "icons.css";

:root {
    --background-color: white;
    --bs-body-bg: var(--background-color);
    --bs-body-bg-rgb: 255, 255, 255;
    --color-primary: black;
    --color-primary-rgb: 0, 0, 0;
    --color-secondary: #8A8A8E;
    --color-tertiary: #C4C4C6;
    --color-link: 65, 105, 225; /*royalblue*/
    --color-highlight: cyan;
    --border-color: var(--color-tertiary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1C1C1E;
        --bs-body-bg: var(--background-color);
        --bs-body-bg-rgb: 28, 28, 30;
        --color-primary: white;
        --color-primary-rgb: 255, 255, 255;
        --color-secondary: #989899;
        --color-tertiary: #5A5A5E;
        --color-link: 65, 105, 225; /*royalblue*/
        --color-highlight: #00353F;
        --border-color: var(--color-tertiary);
    }
}

[hidden] {
    display: none !important;
}

.nav-link {
    color: rgba(var(--color-primary-rgb), .55) !important;
}

.nav-link:focus, .nav-link:hover {
    color: rgba(var(--color-primary-rgb), .9) !important;
}

.nav-link.disabled {
    color: rgba(var(--color-primary-rgb), .3) !important;
}

.nav-link.active {
    color: rgba(var(--color-primary-rgb), .9) !important;
}

body {
    background-color: var(--background-color);
    color: var(--color-primary);
    font-family: /* macos */ -apple-system, BlinkMacSystemFont,
        /* windows */ "Segoe UI",
        /* android */ "Roboto",
        /* linux */ "Oxygen", "Ubuntu", "Cantarell",
        /* firefox os */ "Fira Sans",
        /* older android */ "Droid Sans",
        /* fallbacks */ "Helvetica Neue", sans-serif;
}


.card, .card-header, .card-footer {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.bg-link:focus, .bg-link:hover {
    background-color: var(--color-highlight) !important
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-xs {
    --bs-btn-padding-x: .65em;
    --bs-btn-padding-y: .35em;
    --bs-btn-font-size: .75em;
    --bs-btn-border-width: 0;
    --bs-btn-border-radius: 0.375rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
    border-width: var(--bs-btn-border-width) !important;
    border-radius: var(--bs-btn-border-radius) !important;
    font-size: var(--bs-btn-font-size) !important;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
}

.btn-group .btn-xs:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-group .btn-xs:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group.btn-separator > .btn:not(:first-child):not(:only-child),
.btn-group-sm.btn-separator > .btn:not(:first-child):not(:only-child),
.btn-group-lg.btn-separator > .btn:not(:first-child):not(:only-child) {
    margin-left: 1px;
}

.border, .border-top, .border-end, .border-bottom, .border-start {
    border-color: var(--border-color) !important
}

.text-wrap {
    text-wrap: normal;
    white-space: pre-line
}

.fit-height {
    max-height: 67vh;
}

@media (min-width: 992px) {
    .fit-height {
        max-height: 90vh;
    }
}

@media (min-width: 992px) {
    .border-lg {
        border: 1px solid var(--border-color) !important
    }
}

.clickable {
    cursor: pointer;
}

.text-body {
    color: var(--color-primary) !important;
}

.submission-footer {
    color: rgba(var(--color-primary-rgb), .75) !important;
}

img.zoom {
    cursor: zoom-in;
}

img.zoom.zoomed, .zoomed img.zoom {
    cursor: zoom-out;
}

.loading, .loading * {
    cursor: wait !important;
}

.loading button, .loading select, .loading input {
    pointer-events: none;
}