@import "bootstrap.min.css";
@import "bbcode.css";
@import "icons.css";

:root, [data-bs-theme="light"] {
    --bs-border-color: #DEE2E6;
}

@media not (hover: hover) {
    .btn:hover {
        --bs-btn-hover-color: var(--bs-btn-color) !important;
        --bs-btn-hover-bg: var(--bs-btn-bg) !important;
        --bs-btn-hover-border-color: var(--bs-btn-border-color) !important;
    }
}

[data-bs-theme="dark"] {
    --bs-body-bg: #1C1C1E;
    --bs-body-bg-rgb: 28, 28, 30;
    --bs-border-color: #3D4349;
}

[data-bs-theme="light"] .btn-outline-light {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none
}

[data-bs-theme="dark"] .btn-outline-dark {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none
}

[data-bs-theme="light"] .btn-dark {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa
}

[data-bs-theme="dark"] .btn-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529
}

.btn.border:hover {
    --bs-border-color: var(--bs-btn-hover-border-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blur {
    from {
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

@keyframes darken {
    from {
        backdrop-filter: brightness(1);
        -webkit-backdrop-filter: brightness(1);
    }

    to {
        backdrop-filter: brightness(.5);
        -webkit-backdrop-filter: brightness(.5);
    }
}

@keyframes slide-open {
    from {
        height: 0
    }
    to {
        height: 100vh;
    }
}

body {
    touch-action: pan-x pan-y pinch-zoom;
    padding-top: 2.3rem;
}

body:not([data-bs-theme=light]):not([data-bs-theme=dark]) .dark-mode-button {
    display: none;
}

body[data-bs-theme=light] .dark-mode-button,
body[data-bs-theme=dark] .light-mode-button {
    display: none !important;
}

body.navbar-open {
    overflow: hidden !important;
}

[hidden] {
    display: none !important;
}

a[href="/user/"], a[href="/submission/"], a[href="/journal/"] {
    text-decoration: none !important;
    color: var(--bs-body-color-rgb) !important;
    cursor: default !important;
    pointer-events: none !important;
}

a.iconusername > img,
img.iconusername {
    height: 2.5rem;
    min-width: 2.5rem;
    width: auto;
    border-radius: var(--bs-border-radius);
    opacity: 0;
    transition: opacity 250ms;
}

a.iconusername > img.show,
img.iconusername.show {
    opacity: 1;
}

a.iconusername {
    text-decoration: none;
    display: inline-block;
}

blockquote {
    padding-left: .5rem;
    border-left: .125rem solid var(--bs-tertiary-color);
    margin-bottom: 0;
}

blockquote[cite]::after {
    content: attr(cite);
    display: block;
    font-style: italic;
    color: var(--bs-secondary-color);
}

blockquote + br {
    display: none;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.bg-link {
    transition: background-color 250ms;
}

.bg-link:focus,
.bg-link:hover {
    background-color: rgba(var(--bs-link-color-rgb), .15) !important
}

.btn-xs {
    --bs-btn-padding-x: .65em;
    --bs-btn-padding-y: .35em;
    --bs-btn-font-size: .75em;
    --bs-btn-border-width: 0;
    --bs-btn-border-radius: 0.375rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
    border-width: var(--bs-btn-border-width) !important;
    border-radius: var(--bs-btn-border-radius) !important;
    font-size: var(--bs-btn-font-size) !important;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px !important;
    width: fit-content;
}

.card {
    --bs-card-border-color: var(--bs-border-color);
}

p:last-child {
    margin-bottom: 0 !important;
}

.loading-element:not(.loaded):not(.loading-error) {
    opacity: 0;
    position: absolute;
}

.loading-element:not(.loaded):not(.loading-error) ~ .loading-spinner {
    display: inline-block;
    border-radius: 50% !important;
    height: 30px;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--bs-border-color);
    border-right-color: transparent;
    -webkit-animation: fade-in 1ms 250ms forwards, spinner-border 750ms infinite;
    -o-animation: fade-in 1ms 250ms forwards, spinner-border 750ms infinite;
    animation: fade-in 1ms 250ms forwards, spinner-border 750ms infinite;
    opacity: 0;
    pointer-events: none;
}

.loading-element:not(.loaded):not(.loading-error) ~ .loading-pulse {
    height: 30px;
    aspect-ratio: 1 / 1;
    background: var(--bs-secondary-bg);
    -webkit-animation: fade-in 750ms alternate infinite;
    -o-animation: fade-in 750ms alternate infinite;
    animation: fade-in 750ms alternate infinite;
}

.loading-element.loaded ~ .loading-spinner,
.loading-element.loading-error ~ .loading-spinner,
.loading-element.loaded ~ .loading-pulse,
.loading-element.loading-error ~ .loading-pulse {
    display: none !important;
}

.loading-element.loading-error.loading-error-hide {
    display: none !important;
}

.loading-element:not(.loading-error) ~ .loading-onerror {
    display: none !important;
}

.loading-element:not(.loaded) ~ .loading-onload {
    display: none !important;
}

.loading-element.loaded ~ .loading-onloading,
.loading-element.loading-error ~ .loading-onloading {
    display: none !important;
}

.loading-element.fade.loaded {
    -webkit-animation: fade-in 150ms forwards;
    -o-animation: fade-in 150ms forwards;
    animation: fade-in 150ms forwards;
    opacity: 0;
}

.text-wrap {
    text-wrap: normal;
    white-space: pre-line
}

.text-nowrap * {
    white-space: nowrap !important;
}

.text-nowrap br {
    display: none !important;
}

.text-truncate * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badge {
    cursor: default;
}

.modal {
    z-index: 3000;
    overflow: scroll;
    backdrop-filter: brightness(.5);
    -webkit-backdrop-filter: brightness(.5);

    > .modal-dialog {
        z-index: 2920;
    }

    > .modal-backdrop {
        position: fixed;
        z-index: 2910;
        opacity: 0;
    }
}

.modal.show {
    display: block;
}

.modal.blur.show {
    -webkit-animation: blur 250ms forwards;
    -o-animation: blur 250ms forwards;
    animation: blur 250ms forwards;
}

.modal.fade.show {
    -webkit-animation: fade-in 150ms forwards;
    -o-animation: fade-in 150ms forwards;
    animation: fade-in 150ms forwards;
    opacity: 0;
}

.modal.fade.blur.show {
    -webkit-animation: fade-in 150ms forwards, blur 250ms forwards;
    -o-animation: fade-in 150ms forwards, blur 250ms forwards;
    animation: fade-in 150ms forwards, blur 250ms forwards;
    opacity: 0;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

nav.navbar {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    height: fit-content !important;
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 1px solid var(--bs-border-color);
    background: var(--bs-body-bg);
    padding: 0;
}

body.navbar-open nav.navbar {
    box-shadow: 0 1rem 0 0 var(--bs-border-color);
    transition: box-shadow 250ms;
}

.navbar-collapse.collapse.show {
    max-height: fit-content;
    overflow: hidden;
    -webkit-animation: slide-open 500ms ease-out forwards;
    -o-animation: slide-open 500ms ease-out forwards;
    animation: slide-open 500ms ease-out forwards;
}

.navbar-collapse.collapse.show ~ .navbar-collapse-backdrop {
    position: absolute;
    content: "";
    background: transparent;
    top: 100%;
    right: 0;
    left: 0;
    height: calc(100vh - 100%);
    z-index: 1900;
    -webkit-animation: blur 250ms ease-out forwards;
    -o-animation: blur 250ms ease-out forwards;
    animation: blur 250ms ease-out forwards;
}

.properties-card {
    display: flex;
    flex-flow: column;
    row-gap: .5rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: .5rem 0;

    > .title {
        padding: 0 .5rem;
        font-weight: 500;
        font-size: x-large;
    }

    > .property {
        padding: 0 .5rem;
    }

    > .property[data-key] {
        position: relative;
        padding-left: 33.3333333332%;
    }

    > .property[data-key]::before {
        content: attr(data-key);
        position: absolute;
        width: calc(33.3333333332% - .5rem);
        height: 100%;
        margin-top: -.20ch;
        left: .5rem;
    }

    > .controls {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        column-gap: .5rem;
        margin-top: auto;
        padding: 0 .5rem;

        > .btn-group {
            width: 100% !important;
        }
    }

    > .separator {
        margin: 0;
        padding: 0;
        height: 1px;
        background: var(--bs-border-color);
    }

    > .title:only-child,
    > .property:only-child,
    > .controls:only-child {
        padding: 0 .5rem;
    }
}

.comment {
    position: relative;
    opacity: 1;
    transition: opacity 250ms;

    > .comment-body {
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: box-shadow 250ms;
        box-shadow: 0 0 0 0 rgba(var(--bs-info-rgb), .5);

        > .comment-header {
            padding: .5rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--bs-border-color);

            > .replies-open-toggle,
            > .replies-close-toggle {
                cursor: pointer;
            }
        }

        > .comment-text {
            padding: .5rem;
            overflow-wrap: break-word;
        }
    }

    > .comment-body.highlight {
        box-shadow: 0 0 0 5px rgba(var(--bs-info-rgb), .5);
    }

    > .replies {
        padding-top: .5rem;
        position: relative;

        > .replies-border {
            position: absolute;
            top: -.375rem;
            left: 0;
            bottom: 0;
            width: 1px;
            background: var(--bs-border-color);
        }


        > .comment {
            margin-left: .5rem;
        }
    }

    > .replies-counter {
        cursor: pointer;
        width: fit-content;
        padding: .125rem 0 0 0;
    }

    > .replies-counter::before {
        position: absolute;
        content: "";
        top: 1rem;
        left: 0;
        bottom: 0;
        width: 1px;
        border-left: 1px dashed var(--bs-border-color);
    }

    > .replies-counter::after {
        content: attr(data-replies) " replies";
        font-size: smaller;
        font-style: italic;
        color: var(--bs-secondary);
        padding: 0 .5rem;
    }
}

.comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment * .comment {
    margin-left: 3px;
}

.comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment > .replies > .comment * .comment {
    margin-left: 0;
}

.comment:not([data-replies=true]) {
    > .comment-body {
        > .comment-header {
            > .replies-open-toggle {
                display: none;
            }

            > .replies-close-toggle {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

.comment:not(.replies-closed) {
    > .comment-body {
        > .comment-header {
            > .replies-open-toggle {
                display: none;
            }
        }
    }

    > .replies-counter {
        display: none;
    }
}

.comment.replies-closed {
    > .comment-body {
        > .comment-header {
            > .replies-close-toggle {
                display: none;
            }
        }
    }

    > .replies {
        display: none;
    }
}

.comment + .comment {
    padding-top: .5rem;
}